// colors
$color1: #206a5d;
$color2: #f1f1e8;
$color3: #bfdcae;
$logo-color: #81b214;

// font family
$main-font: 'Baloo Tammudu 2', cursive;
$logo-font:  'Josefin Sans', sans-serif;

// logo
.logo {
    font-family: $logo-font;
    color: $logo-color !important;
}

.logo:hover {
    color: $logo-color;
}

// buttons
.style-button {
    text-decoration: none !important;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    transition: all 0.5s ease;
    display: inline-block;
}

.style-button:focus {
    box-shadow: none;
    outline: none;
}

.main-button {
    color: $color1;
    border: 1px solid $color1;
    background-color: $color2;
}

.main-button:hover {
    color: $color2;
    background-color: $color1;
}

.inverted-button {
    color: $color2;
    background-color: $color1;
    border: 1px solid $color2;
}

.inverted-button:hover {
    color: $color1;
    background-color: $color2;
    border: 1px solid $color1;
}

// jumbotron
.jumbotron {
    padding: 0;
    
    font-family: $main-font;
}
.style-jumbotron { 
    margin: 0;

    h1 {
        font-weight: bold;
        color: $color2;
        background-color: $color1;
        margin-bottom: 0;
        padding: 7rem;
        padding-top: 8rem;
    }
}

@media only screen and (max-width: 800px) {
    .style-jumbotron {
        h1 {
            font-size: 2.5rem;
            padding: 5rem;
            padding-top: 6rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .style-jumbotron {
        h1 {
            font-size: 1.5rem;
            padding: 3rem;
            padding-top: 4rem;
        }
    }
}