@use 'base';

footer {
    font-family: base.$main-font;
    .container-fluid {
        background-color: base.$color1;

        .col-sm-4:nth-child(2) {
            p:nth-child(2) {
                margin-top: 0.5rem;
            }
        }
    }

    h4 {
        color: base.$color2;
        font-size: 1rem;
        margin-bottom: -0.3rem;
    }

    i {
        font-size: 1.5rem;
        color: base.$logo-color;
        padding: 0.5rem;
    }

    p {
        color: base.$color2;
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 576px) {
    .col-sm-4:nth-child(2) {
        padding: 1.5rem;
    }
}