@use 'base';

#lpContent {
    background-color: base.$color2;
    min-height: calc(100vh - 254px);

    .jumbotron {
        background-color: base.$color2;
        margin-bottom: 0;
        
    }

    .container {
        font-family: base.$main-font;
        color: base.$color1;

        .inverted-button {
            background-color: base.$logo-color;
            border: 1px solid base.$color1;
            color: base.$color1;
            margin-top: 2rem;
            padding: 2.5rem 1.5rem 1.7rem 1.5rem;
            font-size: 1.5rem;
        }

        .inverted-button:hover {
            background-color: base.$color1;
            color: base.$logo-color;
            border: 1px solid base.$logo-color;
        }
    }
}

@media only screen and (max-width: 500px) {
    #lpContent {
        min-height: calc(100vh - 244px);
        h1 {
            font-size: 2rem;
        }
    }
}