@use 'base';

#products-list {
    color: base.$color1;
    font-family: base.$main-font;

    #add-product-button {
        border: none;
        border-radius: none;
        background-color: base.$color2;
    }

    main {
        min-height: calc(100vh - 690px);
        background-color: base.$color2;
    }

    .card {
        background-color: #FFF;
        border: 2px solid base.$color1;
        border-radius: 6px;

        img {
            height: 10rem;
        }
    }
}

@media only screen and (max-width: 575px) {
    #products-list {

        #add-product-button {
            .lead {
                font-size: 0.8rem;
            }
        }
        .card {

            img {
                height: 20rem;
            }
        }
        
    }
}