<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&family=Josefin+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9df561da0e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/main.css" />

    <title>Sell Everything</title>
  </head>
  <body>
    <!-- Top Menu -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand logo" href="/">SELLeverything</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <% if (!currentUser) { %>
          <a class="nav-link" href="/productsList">Products</a>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Sign Up</a>
          <% } else { %>
          <a class="nav-link" href="/productsList">Products</a>
          <a class="nav-link" href=""
            >Signed In As <%= currentUser.username %></a
          >
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center" id="handling-errors">
      <% if(error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>
      <% if(success && success.length > 0) { %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>
    </div>
