<%- include ("../partials/header.ejs") %>

<section id="new-comment" class="add-edit-comments">
  <div class="jumbotron text-center style-jumbotron bg-white">
    <h1>Ask Your Question</h1>
  </div>
  
  <div class="container">
    <div class="row">
      <form method="POST" action="/productsList/<%= product._id %>/comments">
        <div class="form-group">
          <label for="comment">Your Question</label>
          <textarea name="comment[text]" id="comment" class="form-control"></textarea>
        </div>
        <button type="submit" class="main-button">Add Question</button>
      </form>
    </div>
  </div>
  
</section>

<%- include ("../partials/footer.ejs") %>