<%- include ("../partials/header.ejs") %>

<header class="jumbotron text-center">
  <h1>Add New Comment to <%= product.name %></h1>
</header>

<div class="container">
  <div class="row">
    <form style="margin: 0 auto; width: 40%;" method="POST" action="/productsList/<%= product._id %>/comments">
      <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" id="name" name="comment[author]">
      </div>
      <div class="form-group">
        <label for="img">Comment</label>
        <input type="text" class="form-control" id="img" name="comment[text]">
      </div>
      <button type="submit" class="btn btn-primary btn-block" style="width: 40%; margin: 0 auto;">Add Comment</button>
    </form>
  </div>
</div>

<%- include ("../partials/footer.ejs") %>



<a href="/productsList">Go back</a>