<%- include ("partials/header") %>

<section id="lpContent" class="d-flex justify-content-center align-items-center">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to the <span class="logo">SELLeverything</span></h1>
            <p>Click in the button to see the products,
            or login into your account on top</p>
            <a href="/productsList" class="main-button">View all Products</a>
        </div>
    </div>
</section>



<%- include ("partials/footer") %>