.logo {
  font-family: "Josefin Sans", sans-serif;
  color: #81b214 !important;
}

.logo:hover {
  color: #81b214;
}

.style-button {
  text-decoration: none !important;
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  transition: all 0.5s ease;
  display: inline-block;
}

.style-button:focus {
  box-shadow: none;
  outline: none;
}

.main-button {
  color: #206a5d;
  border: 1px solid #206a5d;
  background-color: #f1f1e8;
}

.main-button:hover {
  color: #f1f1e8;
  background-color: #206a5d;
}

.inverted-button {
  color: #f1f1e8;
  background-color: #206a5d;
  border: 1px solid #f1f1e8;
}

.inverted-button:hover {
  color: #206a5d;
  background-color: #f1f1e8;
  border: 1px solid #206a5d;
}

.jumbotron {
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
}

.style-jumbotron {
  margin: 0;
}
.style-jumbotron h1 {
  font-weight: bold;
  color: #f1f1e8;
  background-color: #206a5d;
  margin-bottom: 0;
  padding: 7rem;
  padding-top: 8rem;
}

@media only screen and (max-width: 800px) {
  .style-jumbotron h1 {
    font-size: 2.5rem;
    padding: 5rem;
    padding-top: 6rem;
  }
}
@media only screen and (max-width: 500px) {
  .style-jumbotron h1 {
    font-size: 1.5rem;
    padding: 3rem;
    padding-top: 4rem;
  }
}
.navbar {
  background-color: #f1f1e8;
}
.navbar .navbar-brand {
  padding: 3rem;
  font-size: 2rem;
}
.navbar .navbar-nav {
  margin-right: 10rem;
}
.navbar .navbar-nav .nav-link {
  font-family: "Baloo Tammudu 2", cursive;
  color: #206a5d !important;
}

#handling-errors {
  background-color: #f1f1e8;
}
#handling-errors .alert {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .navbar .navbar-brand {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    font-size: 1.4rem;
  }

  #handling-errors .alert {
    width: 80%;
  }
}
footer {
  font-family: "Baloo Tammudu 2", cursive;
}
footer .container-fluid {
  background-color: #206a5d;
}
footer .container-fluid .col-sm-4:nth-child(2) p:nth-child(2) {
  margin-top: 0.5rem;
}
footer h4 {
  color: #f1f1e8;
  font-size: 1rem;
  margin-bottom: -0.3rem;
}
footer i {
  font-size: 1.5rem;
  color: #81b214;
  padding: 0.5rem;
}
footer p {
  color: #f1f1e8;
  margin-bottom: 0;
}

@media only screen and (max-width: 576px) {
  .col-sm-4:nth-child(2) {
    padding: 1.5rem;
  }
}
#lpContent {
  background-color: #f1f1e8;
  min-height: calc(100vh - 254px);
}
#lpContent .jumbotron {
  background-color: #f1f1e8;
  margin-bottom: 0;
}
#lpContent .container {
  font-family: "Baloo Tammudu 2", cursive;
  color: #206a5d;
}
#lpContent .container .inverted-button {
  background-color: #81b214;
  border: 1px solid #206a5d;
  color: #206a5d;
  margin-top: 2rem;
  padding: 2.5rem 1.5rem 1.7rem 1.5rem;
  font-size: 1.5rem;
}
#lpContent .container .inverted-button:hover {
  background-color: #206a5d;
  color: #81b214;
  border: 1px solid #81b214;
}

@media only screen and (max-width: 500px) {
  #lpContent {
    min-height: calc(100vh - 244px);
  }
  #lpContent h1 {
    font-size: 2rem;
  }
}
.login-signup {
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 254px);
  background-color: #206a5d;
  color: #206a5d;
}
.login-signup .container {
  padding: 3rem 2rem;
  border-radius: 30px;
  width: 20rem;
  height: 28rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.login-signup .container .logo {
  text-align: center;
  display: block;
}
.login-signup .container .main-button {
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: #206a5d;
  color: #f1f1e8;
}
.login-signup .container .main-button:hover {
  background: #fff;
  color: #206a5d;
}

@media only screen and (max-width: 500px) {
  .login-signup {
    min-height: calc(100vh - 244px);
  }
  .login-signup .container {
    border-radius: 0;
    width: 100%;
  }
}
#products-list {
  color: #206a5d;
  font-family: "Baloo Tammudu 2", cursive;
}
#products-list #add-product-button {
  border: none;
  border-radius: none;
  background-color: #f1f1e8;
}
#products-list main {
  min-height: calc(100vh - 592px);
  background-color: #f1f1e8;
}
#products-list .card {
  background-color: #FFF;
  border: 2px solid #206a5d;
  border-radius: 6px;
}
#products-list .card img {
  height: 10rem;
}

@media only screen and (max-width: 575px) {
  #products-list #add-product-button .lead {
    font-size: 0.8rem;
  }
  #products-list .card img {
    height: 20rem;
  }
}
.add-edit-product {
  color: #206a5d;
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: calc(100vh - 592px);
}
.add-edit-product .container form {
  width: 50%;
  margin: 0 auto;
}
.add-edit-product .container .inverted-button {
  display: block;
  margin: 0 auto;
}
.add-edit-product .container .form-control:focus {
  box-shadow: inset 0 1px 1px #206a5d, 0 0 8px #206a5d;
}
.add-edit-product .container textarea {
  resize: none;
  height: 10rem;
}

@media only screen and (max-width: 800px) {
  .add-edit-product {
    margin-bottom: 3rem;
  }
  .add-edit-product .container form {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .add-edit-product {
    min-height: calc(100vh - 244px);
  }
}
.add-edit-comments {
  color: #206a5d;
  font-family: "Baloo Tammudu 2", cursive;
  min-height: calc(100vh - 592px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.add-edit-comments .container form {
  width: 50%;
  margin: 0 auto;
}
.add-edit-comments .container textarea {
  resize: none;
  height: 10rem;
}
.add-edit-comments .container .inverted-button {
  display: block;
  margin: 0 auto;
}
.add-edit-comments .container .main-button:hover {
  background-color: white;
  color: #206a5d;
}
.add-edit-comments .container .form-control:focus {
  box-shadow: inset 0 1px 1px #206a5d, 0 0 8px #206a5d;
}

@media only screen and (max-width: 800px) {
  .add-edit-comments .container form {
    width: 80%;
  }
}
#more-info-product {
  font-family: "Baloo Tammudu 2", cursive;
  color: #206a5d;
  min-height: calc(100vh - 275px);
}
#more-info-product .container .list-group-item {
  border: 1px solid #206a5d;
}
#more-info-product .container .price {
  margin: 2rem 2rem 0 0;
  font-size: 2rem;
}
#more-info-product .container-fluid {
  background-color: #f1f1e8;
}
#more-info-product .container-fluid h2 {
  font-size: 1.5rem;
  text-align: center;
}
#more-info-product .card {
  border: none;
}
#more-info-product form {
  display: inline;
}
#more-info-product .info-product {
  border: 1px solid #206a5d;
  background-color: #f1f1e8;
}
#more-info-product .info-product img {
  height: 35rem;
}
#more-info-product .style-comment {
  margin: 1rem;
  background-color: #f1f1e8;
  padding: 1rem;
  border-radius: 1rem;
}
#more-info-product .style-comment p {
  margin-bottom: 0;
}
#more-info-product .style-comment .comment-date {
  font-size: 0.7rem;
}

@media only screen and (max-width: 800px) {
  #more-info-product .list-group {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  #more-info-product .col-md-9 {
    padding: 0;
  }
  #more-info-product .info-product img {
    height: 20rem;
  }
}

/*# sourceMappingURL=main.css.map */
